@import '../../styles/typography.scss';
@import '../../styles/variables.scss';

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about__title {
  @include boldH2($black);

  @media (max-width: 375px) {
    @include boldH4($black)
  }
}